In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.ExcelFile('data_input/TGA Data-JT-DAO_data.xls')

In [3]:
d = {}
for i in range(31):
    k = df.sheet_names[i]
    d[k] = pd.DataFrame(df.parse(i))
    d[k]['sheet_name'] = k
    d[k]['compound'] = df.sheet_names[i].split('-')[0]
    d[k]['condition'] = df.sheet_names[i].split('-')[1]
    d[k]['exp_no'] = df.sheet_names[i].split('-')[2][0]
    d[k] = d[k].drop(columns = ['Index', 'Unnamed: 0'])
    #d[k] = d[k].dropna()
    d[k] = d[k][1:]
    print("Imported ", df.sheet_names[i], d[k].shape)

df_prod = d[list(d.keys())[0]]

for i in range(1, 31):
    df_prod = df_prod.append(d[list(d.keys())[i]])
    print(df_prod.shape)
df_prod = df_prod.dropna()
print(df_prod.shape)

Imported  I1-30-1 (4652, 9)
Imported  I1-30-2 (4652, 9)
Imported  I1-30-3 (4652, 9)
Imported  I1-45-1 (4652, 9)
Imported  I1-45-2 (4652, 9)
Imported  I1-45-3 (4652, 9)
Imported  I1-30-2 rep of original (4652, 9)
Imported  I1-60-1 (4652, 9)
Imported  I1-60-2 (4652, 9)
Imported  I1-60-3 (4652, 9)
Imported  I05-60-3 of rep (4652, 9)
Imported  I05-60-2 of rep (4652, 9)
Imported  I05-60-1 of rep (4652, 9)
Imported  I05-60-3 (4652, 9)
Imported  I05-60-2 (4652, 9)
Imported  I05-60-1 (4652, 9)
Imported  I05-45-3 (4652, 9)
Imported  I05-45-2 (4652, 9)
Imported  I05-45-1 (4652, 9)
Imported  I05-30-3 (4652, 9)
Imported  I05-30-2 (4652, 9)
Imported  I05-30-1 (4652, 9)
Imported  DAO-30-1 (4652, 9)
Imported  DAO-30-2 (4652, 9)
Imported  DAO-30-3 (4652, 9)
Imported  DAO-45-1 (4652, 9)
Imported  DAO-45-2 (4652, 9)
Imported  DAO-45-3 (4652, 9)
Imported  DAO-60-1 (4652, 9)
Imported  DAO-60-2 (4652, 9)
Imported  DAO-60-3 (4652, 9)
(9304, 9)
(13956, 9)
(18608, 9)
(23260, 9)
(27912, 9)
(32564, 9)
(37216, 9)
(41868, 9)
(46520, 9)
(51172, 9)
(55824, 9)
(60476, 9)
(65128, 9)
(69780, 9)
(74432, 9)
(79084, 9)
(83736, 9)
(88388, 9)
(93040, 9)
(97692, 9)
(102344, 9)
(106996, 9)
(111648, 9)
(116300, 9)
(120952, 9)
(125604, 9)
(130256, 9)
(134908, 9)
(139560, 9)
(144212, 9)
(144181, 9)

In [7]:
df_prod.to_csv('data_input/prod_v1.csv')

In [7]:
e = {}
for i in range(31, len(df.sheet_names)):
    s = df.sheet_names[i]
    e[s] = pd.DataFrame(df.parse(i))
    e[s]['sheet_name'] = s
    e[s]['compound'] = df.sheet_names[i].split('(')[0].strip()
    e[s]['compound'] = e[s]['compound'].astype('str')
    e[s]['exp_no'] = df.sheet_names[i].split('(')[1].strip()[0]
    e[s] = e[s].drop(columns = ['Index', 'Unnamed: 0'])
    e[s] = e[s][1:]
    print("Imported ", df.sheet_names[i], e[s].shape)

df_feed = e[list(e.keys())[0]]
df_feed['sheet_name'] = df.sheet_names[0]
for i in range(1,9):
    df_feed = df_feed.append(e[list(e.keys())[i]])
    print(df_feed.shape)
df_feed = df_feed.dropna()
print(df_feed.shape)

Imported  05-85 (3) (4652, 8)
Imported  05-85 (2) (4652, 8)
Imported  05-85 (1) (4652, 8)
Imported  1-8 (3) (4652, 8)
Imported  1-8 (2) (4652, 8)
Imported  1-8 (1) (4652, 8)
Imported  DAO (3) (4652, 8)
Imported  DAO (2) (4652, 8)
Imported  DAO (1) (4652, 8)
(9304, 8)
(13956, 8)
(18608, 8)
(23260, 8)
(27912, 8)
(32564, 8)
(37216, 8)
(41868, 8)
(41859, 8)

In [8]:
df_feed

           Ts     t        HF   Weight       Tr sheet_name compound exp_no
1     40.1741     0  0.483698      100       25    I1-30-1    05-85      3
2     40.1511     1  0.447084  99.9913  25.1667    I1-30-1    05-85      3
3     40.1566     2  0.428202  99.9864  25.3333    I1-30-1    05-85      3
4     40.1877     3  0.414622  99.9841     25.5    I1-30-1    05-85      3
5     40.2206     4  0.383961  99.9881  25.6667    I1-30-1    05-85      3
...       ...   ...       ...      ...      ...        ...      ...    ...
4647  506.069  4646   249.412  35.8362      500    DAO (1)      DAO      1
4648  506.073  4647   249.411  35.8377      500    DAO (1)      DAO      1
4649  506.074  4648   249.409  35.8393      500    DAO (1)      DAO      1
4650  506.071  4649   249.408  35.8409      500    DAO (1)      DAO      1
4651  506.079  4650   249.407  35.8425      500    DAO (1)      DAO      1

[41859 rows x 8 columns]

In [10]:
df_feed.compound.value_counts()

05-85    13953
1-8      13953
DAO      13953
Name: compound, dtype: int64

In [9]:
df_feed.to_csv('data_input/feed_v1.csv')